
*{box-sizing: border-box; padding: 0; margin:0}

a {text-decoration: none;}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 62.5%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	
}

main {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: baseline;
}

/* Force mobile font size for marketingblocks */
.block-wrapper.force-mobile .mb .mb-title{
  font-size: 1.8rem !important;
}

img {
	font-size: 1.6rem;
}

.vtmn-btn{
  box-shadow:inset 0 0 0 0.200rem transparent;
  font-size:1.600rem;
  min-height:4.800rem;
  max-width:100%;
  width:-webkit-fit-content;
  width:-moz-fit-content;
  width:fit-content;
  padding:1.400rem 2.400rem;
  line-height: 1.25;
  letter-spacing:0.050rem;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  background-color:hsl(200, 100%, 36.9%);
  color:hsl(0, 0%, 100%);
  fill:hsl(0, 0%, 100%);
  border:none;
  border-radius:0.400rem;
  display:inline-block;
  font-family:'Roboto', 'system-ui', '-apple-system', sans-serif;
  font-weight:700;
  position:relative;
  text-align:center;
}

.vtmn-btn:not(:disabled):hover{
  background-color:hsla(200, 100%, calc(36.9% * 0.85), 1);
  cursor:pointer;
}

.vtmn-btn:not(:disabled):active{
  background-color:hsla(200, 100%, calc(36.9% * 0.7), 1);
}

.vtmn-btn:disabled{
  cursor:not-allowed;
  opacity:0.38;
}

.vtmn-btn:not(:disabled):focus-visible{
  outline:none;
  box-shadow:0 0 0 0.400rem hsl(0, 0%, 100%),
    0 0 0 0.600rem hsl(200, 100%, 4.7%);
}

.vtmn-btn:not(:disabled){
  outline:none;
}

.vtmn-btn svg{
  display:inline-block;
  vertical-align:text-top;
}

.vtmn-btn span[class^='vtmx-']{
  display:inline-block;
}

.vtmn-btn_variant--primary{
  box-shadow:inset 0 0 0 0.200rem transparent;
  background-color:hsl(200, 100%, 36.9%);
  color:hsl(0, 0%, 100%);
  fill:hsl(0, 0%, 100%);
}

.vtmn-btn_variant--primary:not(:disabled):hover{
  background-color:hsla(200, 100%, calc(36.9% * 0.85), 1);
}

.vtmn-btn_variant--primary:not(:disabled):active{
  background-color:hsla(200, 100%, calc(36.9% * 0.7), 1);
}

.vtmn-btn_variant--primary:not(:disabled):focus-visible{
  outline:none;
  box-shadow:0 0 0 0.400rem hsl(0, 0%, 100%),
    0 0 0 0.600rem hsl(200, 100%, 4.7%);
}

.vtmn-btn_variant--primary-reversed{
  box-shadow:inset 0 0 0 0.200rem transparent;
  background-color:hsl(0, 0%, 100%);
  color:hsl(200, 100%, 4.7%);
  fill:hsl(200, 100%, 4.7%);
}

.vtmn-btn_variant--primary-reversed:not(:disabled):hover{
  background-color:hsla(0, 0%, 100%, 0.8);
  box-shadow:inset 0 0 0 0.200rem
    hsl(0, 0%, 100%);
}

.vtmn-btn_variant--primary-reversed:not(:disabled):active{
  background-color:hsla(0, 0%, 100%, 0.6);
  box-shadow:inset 0 0 0 0.200rem
    hsl(0, 0%, 100%);
}

.vtmn-btn_variant--primary-reversed:not(:disabled):focus-visible{
  outline:none;
  box-shadow:inset 0 0 0 0.200rem
      hsl(0, 0%, 100%),
    0 0 0 0.400rem hsl(200, 100%, 4.7%),
    0 0 0 0.600rem hsl(0, 0%, 100%);
}

.vtmn-btn_variant--secondary{
  background-color:hsl(0, 0%, 100%);
  box-shadow:inset 0 0 0 0.200rem hsl(210, 11.8%, 86.7%);
  color:hsl(200, 100%, 30.8%);
  fill:hsl(200, 100%, 30.8%);
}

.vtmn-btn_variant--secondary:not(:disabled):hover{
  background-color:hsl(200, 60%, 94.1%);
}

.vtmn-btn_variant--secondary:not(:disabled):active{
  background-color:hsla(200, 60%, calc(94.1% + (100% - 94.1%) * 0.35), 1);
}

.vtmn-btn_variant--secondary:not(:disabled):focus-visible{
  outline:none;
  box-shadow:inset 0 0 0 0.200rem hsl(210, 11.8%, 86.7%),
    0 0 0 0.400rem hsl(0, 0%, 100%),
    0 0 0 0.600rem hsl(200, 100%, 4.7%);
}

/* **********************************************************- */
/* **********************************************************- */
/* **********************************************************- */
/* **********************************************************- */
/* **********************************************************- */
/* **********************************************************- */
/* **********************************************************- */
/* **********************************************************- */
/* **********************************************************- */
/* **********************************************************- */
/* **********************************************************- */

.ctaa {
  font-size: 1.4rem;
}
/*MAIN BLOCK*/
.order-wrapper {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.promo-wrapper {
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.promo-wrapper .greyback {
  width: 100%;
  position: absolute;
  height: 450px;
  background: url('https://contents.mediadecathlon.com/s870219/k$79f4b41439df61fe1639471b4c9118e4/HP%20HERO%20ROWERY%20BG.svg?format=auto&quality=50');
  background-size: cover;
  z-index: 0;
  clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 100%);
}

.promo-wrapper .whitebg {
  display: block;
  position: absolute;
  content: '';
  width: 100%;
  max-width: calc(160rem + 24px);
  background: #fff;
  top: 12px;
  height: 600px;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  border-radius: .3rem;
  top: 54px;
}

.promo-wrapper .promo-container {
  display: grid;
  justify-items: center;
  max-width: 160rem;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  border: 0;
  column-gap: 16px;
  row-gap: 16px;
  margin-top: 65px;
}

.promo-wrapper .promo-block {
  display: flex;
  width: 100%;
  height: 600px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
  transition: .3s ease-in-out all;
  z-index: 2;
  border-radius: .3rem;
}

.promo-wrapper .promo-block:hover img {
  transform: scale(1.05);
  transition: .3s ease-in-out all;
}

.promo-wrapper .promo-block .ctaa {
    background-color: #ffea28;
    width: 200px;
    color: #080808;
    height: auto;
    padding: 16px 12px 16px 0;
    border-radius: 3px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    z-index: 2;
    text-align: center;
    font-family: 'Roboto Condensed', Helvetica, cursive;
    font-weight: bold;
    line-height: 1rem;
    right: 24px;
    bottom: 24px;
}

.promo-block .material-icons {
  line-height: 1rem;
  margin-left: 22px;
  right: 12px;
  position: absolute;
}

.promo-wrapper .promo-block .overlay {
  background: linear-gradient(
      to top, 
      rgba(0,0,0,.1) 10%, rgba(0,0,0,0) 50%);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
}

.promo-wrapper .promo-block .price[data-display="yes"] {
  font-family: 'Roboto', Helvetica, cursive;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .3px;
  line-height: 1rem;
  font-size: 11px;
  right: 24px;
  top: 12px;
  padding: 5px 8px;
  border-radius: 2px;
  width: 100%;
  position: absolute;
  width: auto;
  background: rgba(0,0,0,.8);
}

.promo-wrapper .promo-block .price[data-display="no"] {
  display: none;
}

.promo-wrapper .promo-block .badge {
  font-family: 'Roboto', Helvetica, cursive;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .3px;
  line-height: 1rem;
  font-size: 12px;
  margin: 0 0 0 24px;
  padding: 8px 16px;
  border-radius: 2px;
  width: auto;
  position: relative;
  z-index: 2;
}

.promo-wrapper .promo-block img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 600px;
  width: 100%;
  transition: .3s ease-in-out all;
}

.promo-wrapper .promo-block .category {
  font-family: 'Roboto', Helvetica, cursive;
  color: #fff;
  font-weight: bold;
  letter-spacing: .3px;
  line-height: 1rem;
  font-size: 24px;
  padding: 18px 24px 32px 24px;
  width: 100%;
  position: relative;
  z-index: 2;
}

.promo-wrapper .promo-block .category:after {
  content:'\e5cc';
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  position: absolute;
  color: #fff;
  right: 24px;
  transition: .2s all;
  display: none;
}
/*MAIN BLOCK*/


/*PROMO SMALL BLOCKS*/
.blocks-container {
  display: grid;
  justify-items: center;
  max-width: 160rem;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));
  border: 0;
  column-gap: 16px;
  row-gap: 16px;
  background: #fff;
}

.promo-wrapper .text {
  font-family: 'Roboto', Helvetica, cursive;
  font-weight: bold;
  letter-spacing: .3px;
  font-size: 24px;
  color: #080808;
  max-width: 160rem;
  margin: 24px auto 24px auto;
}

.blocks-container .block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-end;
  margin: 0 auto 0 auto;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  overflow: hidden;
  transition: .2s all;
  z-index: 1;
  border-radius: 0.3rem;
}

.blocks-container .block:hover {
    transition: .3s all;
}


.blocks-container .block img {
  min-height: 250px;
  width: 100%;
  object-fit: cover;
  background-position: cover;
  background-size: 104%;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transition: .3s all;
}

.blocks-container:hover .block img:not(hover) {
  transition: .3s all;
}

.blocks-container .block:hover img:not(hover) {
  transform: scale(1.05);
  transition: .3s all;
}

.blocks-container .block .category {
  font-family: 'Roboto', Helvetica, cursive;
  color: #fff;
  font-weight: bold;
  letter-spacing: .3px;
  line-height: 1rem;
  font-size: 24px;
  padding: 24px 24px 24px 24px;
  width: 100%;
  position: relative;
  z-index: 2;
}

.blocks-container .block .category:after {
  content:'\e5cc';
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1rem;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  position: absolute;
  color: #fff;
  right: 24px;
  transition: .2s all;
  z-index: 2;
}

.blocks-container .block .price[data-display="yes"] {
  font-family: 'Roboto', Helvetica, cursive;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .3px;
  line-height: 1rem;
  font-size: 11px;
  right: 24px;
  top: 20px;
  padding: 8px 16px;
  border-radius: 2px;
  width: 100%;
  position: absolute;
  width: auto;
  background: rgba(0,0,0,.8);
}

.blocks-container .block .price[data-display="no"] {
  display: none;
}

.blocks-container .block .badge {
  font-family: 'Roboto', Helvetica, cursive;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  background: rgba(92, 102, 107, 1);
  letter-spacing: .3px;
  line-height: 1rem;
  font-size: 11px;
  margin: 0 0 0 24px;
  padding: 8px 16px;
  border-radius: 2px;
  position: relative;
  width: auto;
  z-index: 2;
}

/*BADGE COLORS*/
.badge[data-sport="futas"]{
  background-color: rgba(92, 102, 107, 1);
}

.badge[data-sport="kerekpar"]{
  background-color: rgba(244, 67, 54, 1);
}

.badge[data-sport="kuzdosport"]{
  background-color: rgba(255, 152, 0, 1);
}

.badge[data-sport="fitnesz"], .badge[data-sport="joga"]{
  background-color: rgba(103, 58, 183, 1);
}
/*BADGE COLORS*/

.blocks-container .block:hover .category:after {
  transition: .2s all;
  right: 20px;
}

.blocks-container .block .overlay {
  background: linear-gradient(
      to top, 
      rgba(0,0,0,.3) 5%, rgba(0,0,0,0) 50%);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
}
/*PROMO SMALL BLOCKS*/


/*MEDIUM DESKTOP*/
	  .promo-wrapper.force-medium  .promo-container {
    display: grid;
    justify-items: center;
    max-width: 160rem;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    border: 0;
    column-gap: 16px;
    row-gap: 16px;
    background: #fff;
    padding-left: 8rem;
    padding-right: 6.4rem;
    margin: 0 auto;
    margin-top: 65px;
  }



  .promo-wrapper.force-medium  .text {
      font-family: 'Roboto', Helvetica, cursive;
      font-weight: bold;
      letter-spacing: .3px;
      font-size: 24px;
      color: #080808;
      max-width: 160rem;
      margin: 24px auto 24px auto;
      padding-left: 8rem;
      padding-right: 6.4rem;
  }

  .blocks-container.force-medium  {
      display: grid;
      justify-items: center;
      max-width: 160rem;
      margin: 0 auto;
      grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));
      border: 0;
      column-gap: 16px;
      row-gap: 16px;
      background: #fff;
      /* padding-left: 8rem; */
      /* padding-right: 6.4rem; */
  }

  .blocks-container.force-medium  .block .category {
    line-height: 1rem;
    font-size: 1.5rem;
  }

  .blocks-container.force-medium  .block .badge {
    line-height: 1rem;
    font-size: 1rem;
  }

  .blocks-container.force-medium  .block {
    height: 250px;
  }


/*SMALL DESKTOP*/

  .promo-wrapper.force-small .promo-container {
    display: grid;
    justify-items: center;
    max-width: 155rem;
    /* margin: 0 24px; */
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    border: 0;
    column-gap: 16px;
    row-gap: 16px;
    background: #fff;
    padding: 0;
    margin-top: 65px;
    padding-left: 8rem;
    padding-right: 6.4rem;
  }

  .promo-wrapper.force-small .text {
      font-family: 'Roboto', Helvetica, cursive;
      font-weight: bold;
      letter-spacing: .3px;
      font-size: 24px;
      color: #080808;
      max-width: 155rem;
      margin: 24px auto 24px auto;
      padding-left: 8rem;
      padding-right: 6.4rem;
  }

  .blocks-container.force-small {
      display: grid;
      justify-items: center;
      max-width: 155rem;
      /* margin: 0 24px; */
      grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));
      border: 0;
      column-gap: 16px;
      row-gap: 16px;
      background: #fff;
      padding: 0;
      /* padding-left: 8rem; */
      /* padding-right: 6.4rem; */
  }

  .blocks-container.force-small .block .category {
    line-height: 1rem;
    font-size: 1.5rem;
  }

  .blocks-container.force-small .block .badge {
    line-height: 1rem;
    font-size: 1rem;
  }

  .blocks-container.force-small .block {
    height: 250px;
  }

  .promo-wrapper.force-small .whitebg {
    display: none;
  }



/*TABLET*/

  .force-tablet .promo-block .ctaa {
    background-color: transparent !important;
    bottom: 14px !important;
  }
  
  .promo-wrapper.force-tablet  .promo-block {
    height: 245px;
    max-height: 245px;
    margin: 0 auto;
    padding: 0;
    }

    .promo-wrapper.force-tablet  .promo-container {
      display: grid;
      justify-items: center;
      max-width: 1140px;
      margin: 24px;
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
      border: 0;
      column-gap: 24px;
      row-gap: 24px;
      background: #fff;
      padding: 0;
      margin-top: 24px;
  }
  
    .promo-wrapper.force-tablet .greyback {
      height: 195px;
    }
  
    .promo-wrapper.force-tablet  .text {
      display: none;
      margin: 12px auto 24px 24px;
      padding: 0;
    }
  
    .promo-wrapper.force-tablet  .promo-block .ctaa {
      background-color: transparent;
      font-size: 0;
    }
  
    .force-tablet .promo-block .material-icons {
      color: #fff;
    }
  
    .blocks-container.force-tablet  {
      margin: 0 24px 24px 24px;
      grid-template-columns: auto;
      column-gap: 24px;
      row-gap: 24px;
      width: auto;
      padding: 0;
    }
  
    .blocks-container.force-tablet  .block {
        /* margin: 0 24px; */
        height: 130px;
        width: 100%;
        align-items: flex-start;
        align-content: flex-start;
        justify-content: center;
    }
  
    .blocks-container.force-tablet  .block img {
      max-height: 130px;
      min-height: 130px;
      width: 100%;
      object-fit: cover;
      background-position: cover;
      background-size: 104%;
      background-repeat: no-repeat;
      object-fit: cover;
    }
  
    .blocks-container.force-tablet  .block img[data-position="top"] {
      max-height: 130px;
      min-height: 130px;
      object-fit: cover;
      background-position: top;
      object-position: 0 0;
    }
  
    .blocks-container.force-tablet  .block .category {
      letter-spacing: .3px;
      line-height: 1rem;
      font-size: 24px;
      padding: 64px 24px 24px 24px;
    }
  
    .blocks-container.force-tablet  .block .badge {
      letter-spacing: .3px;
      line-height: 1rem;
      position: absolute;
      font-size: 10px;
      margin: 0 0 0 24px;
      top: 32px;
      padding: 8px 16px;
    }
  
    .promo-wrapper.force-tablet  .promo-block .badge {
      letter-spacing: .3px;
      line-height: 1rem;
      font-size: 10px;
      margin: 0 0 0 24px;
      padding: 8px 16px;
   }

    .promo-wrapper.force-tablet  .promo-block .category {
      line-height: 2.4rem;
    }
  
    .blocks-container.force-tablet  .block .category:after {
      content: '\e5cc';
      font-family: 'Material Icons';
      font-weight: normal;
      font-style: normal;
      font-size: 24px;
      display: inline-block;
      line-height: 1rem;
      text-transform: none;
      letter-spacing: normal;
      word-wrap: normal;
      white-space: nowrap;
      direction: ltr;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      -moz-osx-font-smoothing: grayscale;
      font-feature-settings: 'liga';
      position: absolute;
      color: #fff;
      right: 24px;
      top: 50%;
      transform: translateY(-50%);
      transition: .2s all;
      z-index: 2;
     }
  
    .blocks-container.force-tablet  .block .overlay {
      background: linear-gradient( to right, rgba(0,0,0,.3) 5%, rgba(0,0,0,0) 70%);
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
    }
  
  .promo-wrapper.force-tablet  .promo-block img {
    height: 300px;
}
  


/* MOBILE */

  
  .promo-wrapper.force-mobile .promo-block {
    height: 245px;
    max-height: 245px;
    margin: 0 auto;
    padding: 0;
    }

    .promo-wrapper.force-mobile .promo-container {
      display: grid;
      justify-items: center;
      max-width: 1140px;
      margin: 24px;
      grid-template-columns: auto;
      border: 0;
      column-gap: 24px;
      row-gap: 24px;
      background: #fff;
      padding: 0;
  }
  
  .promo-wrapper.force-mobile .greyback {
      height: 195px;
    }
    
  .promo-wrapper.force-mobile .text {
      display: none;
      margin: 12px auto 24px 24px;
      padding: 0;
    }
  
  .promo-wrapper.force-mobile .promo-block .ctaa {
      background-color: transparent;
      font-size: 0;
    }
  
		.force-mobile .promo-block .material-icons {
      color: #fff;
    }
  
  .blocks-container.force-mobile {
      margin: 0 24px 24px 24px;
      grid-template-columns: auto;
      column-gap: 24px;
      row-gap: 24px;
      width: auto;
      padding: 0;
    }
  
  .blocks-container.force-mobile .block {
        /* margin: 0 24px; */
        height: 130px;
        width: 100%;
        align-items: flex-start;
        justify-content: center;
        align-content: flex-end;
    }
  
  .blocks-container.force-mobile .block img {
      max-height: 130px;
      min-height: 130px;
      width: 100%;
      object-fit: cover;
      background-position: cover;
      background-size: 104%;
      background-repeat: no-repeat;
      object-fit: cover;
    }
  
  .blocks-container.force-mobile .block img[data-position="top"] {
      max-height: 130px;
      min-height: 130px;
      object-fit: cover;
      background-position: top;
      object-position: 0 0;
    }
  
  .blocks-container.force-mobile .block .category {
      letter-spacing: .3px;
      line-height: 2.4rem;
      font-size: 24px;
      padding: 64px 24px 24px 24px;
    }
  
  .blocks-container.force-mobile .block .badge {
      letter-spacing: .3px;
      line-height: 1rem;
      position: absolute;
      font-size: 10px;
      margin: 0 0 0 24px;
      top: 32px;
      padding: 8px 16px;
      background: rgba(92, 102, 107, 1);
    }
  
  .promo-wrapper.force-mobile .promo-block .badge {
      letter-spacing: .3px;
      line-height: 1rem;
      font-size: 10px;
      margin: 0 0 0 24px;
      padding: 8px 16px;
   }
  
  .blocks-container.force-mobile .block .category:after {
      content: '\e5cc';
      font-family: 'Material Icons';
      font-weight: normal;
      font-style: normal;
      font-size: 24px;
      display: inline-block;
      line-height: 1rem;
      text-transform: none;
      letter-spacing: normal;
      word-wrap: normal;
      white-space: nowrap;
      direction: ltr;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      -moz-osx-font-smoothing: grayscale;
      font-feature-settings: 'liga';
      position: absolute;
      color: #fff;
      right: 24px;
      top: 50%;
      transform: translateY(-50%);
      transition: .2s all;
      z-index: 2;
     }
  
  .blocks-container.force-mobile .block .overlay {
      background: linear-gradient( to right, rgba(0,0,0,.3) 5%, rgba(0,0,0,0) 70%);
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
    }
  		
      .promo-wrapper.force-mobile .promo-block img {
        height: 300px;
    }
  

/* MOBILE */
